pandas
requests
python-dotenv
pyTelegramBotAPI
lxml
rapidfuzz
schedule
pytz
yfinance
backoff
feedparser
langchain
langchain_community
hf_xet
grpcio
yandexcloud
pydub
transformers
faiss-cpu
torch
torchvision
torchaudio
sentence-transformers
--index-url https://download.pytorch.org/whl/cu118
